@import url('tailwindcss');

:root {
  --background: #fff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  background: #1C1A41;
}

.gradient-header {
  background: radial-gradient(circle, #FF409A, #C438EF);
  border-radius: 16px;
  overflow: hidden;
  padding: 8px 8px;
}

.gradient-header th:nth-child(3){
  padding-left: 8px;
}
.gradient-header th:first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-right: 2px solid #1C1A41;
  padding-left: 8px;
}

.gradient-header th:nth-child(2) {
  border-right: 2px solid #1C1A41;
  border-left: 2px solid #1C1A41;
  padding-left: 8px;

}

.gradient-header th:last-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-left: 2px solid #1C1A41;
  padding-left: 8px;
}
.table-row td {
  height: 16px;
  padding: 4px 8px; /* Минимальный отступ для читаемости */
}

.table-row td:first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-right: 2px solid #1C1A41;
}

.table-row td:last-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-left: 2px solid #1C1A41;
}
.table-row td:nth-child(even) {
  border-right: 2px solid #1C1A41;
}
.table-row:nth-child(even) {
  background-color: #302E53;
}

.chart-container {
  background: linear-gradient(to right, #5650C6, #403B93, #1C1A41);
  border-radius: 16px;
}


.gradient-button {
  background: radial-gradient(circle, #FF409A, #C438EF);
  border-radius: 16px;
  text-align: center;
}

.param-panel-item{
  color: #8480C9;
  border-radius: 16px;
  background-color: #302E53;
}

.pill {
  border: 1px solid #8480C9;
  height: 74px;
  width: 190px;
  border-radius: 16px;
  text-align: center;
  padding: 24px;
  color: #FFBFF6;
}

.selected-pill {
  background: radial-gradient(circle, #FF409A, #C438EF);
  color: white;
  border: none;
}

.unselected-pill {
  background: none;
}