@import url('tailwindcss');
:root {
    --background: #1A183E;
    --foreground: #8480C9;
}
@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.table-row td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 0.5px solid #1C1A41;
}

.table-row td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 0.5px solid #1C1A41;
}
.table-row td:nth-child(even) {
    border-right: 0.5px solid #1C1A41;
}
.table-row:nth-child(even) {
    background-color: #302E53;
}

.gradient-header {
    background: radial-gradient(circle, #FF409A, #C438EF);
    border-radius: 10px;

}